<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="script.js"></script>
<script>

    $(document).ready(function () {
        var id;
        $("#formni").hide();
        $("#formUpdate").hide();
        $("#createbtn").click(function () {
            $("#formni").show();
            $("#tableni").hide();
        })
        $("#addItems").click(function () {
            $("#formni").hide();
            $("#tableni").show();
        })
        $('#addItems').prop('disabled', 'disabled');

        $('input').on("keyup", function () {
            // e.preventDefault();
            if ($('#item').val() <= 0 || $('#Quantity').val() <= 0 || $('#Priority').val() <= 0) {
                $('#addItems').prop('disabled', 'disabled');
            } else {
                $('#addItems').prop('disabled', false);
            }
        })
        $('input').val(" ");

        $(document).on('click', '#updateBtn', function (e) {
            e.preventDefault(e);
            $("#formUpdate").show();
            id = $(this).attr("DataId");
            retrieveOneItem($(this).attr("DataId"))

        })

        $(document).on('click', '#updateItems', function (e) {
            e.preventDefault(e);
            $("#formUpdate").hide();
            //alert('done update !!')
        })


        $("#addItems").on('click', function () {
            $.ajax({
                url: 'item/create',
                type: "PUT",
                data: { item: $('#item').val(), Quantity: $('#Quantity').val(), Priority: $('#Priority').val() },
                success: function (result) {
                    alert("success?");
                    var item = result
                    for (var i = 0; i < result.length; ++i) {
                        console.log(result[i].item)
                        $('tbody').append("<tr id="+result[i]._id+"  ><td>" + result[i].item + "</td><td>" + result[i].Quantity + "</td><td>" + result[i].Priority + "</td><td><button class='btn btn-info' DataId=" + result[i]._id + ">Update</button><button class='btn btn-success ' id='deleteBtn'>Delete</button></td></tr>" + "<br>")
                    }
                    console.log(result);
                },
                error: function (e) {
                    console.log(e);
                }
            })
        })

        $.ajax({
            url: '/item/retrieve/all',
            type: 'get',
            success: function (result) {
                var item = result
                for (var i = 0; i < result.length; ++i) {
                    console.log(result[i].item)
                    $('tbody').append("<tr id="+result[i]._id+"><td>" + result[i].item + "</td><td>" + result[i].Quantity + "</td><td>" + result[i].Priority + "</td><td><button class='btn btn-info ' id='updateBtn'  DataId=" + result[i]._id + " >Update</button><button class='btn btn-success ' id='deleteBtn'>Delete</button></td></tr><br>")
                }
            }
        })


        //retrieve specific item
        function retrieveOneItem(DataId) {
            $.ajax({
                url: '/item/retrieve/' + DataId + '',
                type: 'get',
                success: function (result) {
                    console.log(result)
                    $('#updateitem').val(result.item)
                    $('#updateQuantity').val(result.Quantity)
                    $('#updatePriority').val(result.Priority)

                },
                error: function (e) {
                    console.error(e)
                }
            })
        }

        $("#updateItems").click(function () {
            location.reload();
            var newId = id;
            $.ajax({
                url: '/item/update/' + newId + '',
                type: "PUT",
                data: { id: newId, item: $('#updateitem').val(), Quantity: $('#updateQuantity').val(), Priority: $('#updatePriority').val() },
                success: function (result) {
                    location.reload();
                },
                error: function (e) {
                    console.error(e)
                }

            })
        })
        $(document).on('click', "#deleteBtn", (function () {
            var id = $(this).closest("tr").attr("id")
            $.ajax({
                url: '/item/delete',
                type: 'Delete',
                dataType: 'JSON',
                data: { id: id },
                error: function (err) {
                    alert(err)
                },
                success: function (result) {
                    console.log(result)
                    $('#' + id).remove();
                    alert(result.message)
                }
            })
        }))




    })
</script>

<body>
    <center>
        <div id="tableni">
            <h1>GroceryList</h1>
            <div class="container">
                <button class="btn btn-info" id="createbtn" type="button">Create</button><br>
            </div>

            </form>
            <div class="container">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <center>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Priority</th>
                                <th>Action</th>
                            </center>
                        </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>
            </div>
        </div>
        <div id="formni">
            <form class="form">
                <fieldset>
                    <center>
                        <h1>Add Item</h1>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-shopping-cart"></i></span>
                            <input id="item" type="text" class="form-control" name="item" placeholder="Item">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-plus-sign"></i></span>
                            <input id="Quantity" type="number" class="form-control" name="Quantity" placeholder="Quantity">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                            <input id="Priority" type="number" class="form-control" name="Priority" placeholder="Priority">
                        </div>
                        <br>
                    </center>
                </fieldset>
                <button type="button" id="addItems" class="btn btn-info">Add Items</button>
            </form>
        </div>

        <div id="formUpdate">
            <form class="form">
                <fieldset>
                    <center>
                        <h1>Update Item</h1>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-shopping-cart"></i></span>
                            <input id="updateitem" type="text" class="form-control" name="item" placeholder="Item">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-plus-sign"></i></span>
                            <input id="updateQuantity" type="number" class="form-control" name="Quantity" placeholder="Quantity">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                            <input id="updatePriority" type="number" class="form-control" name="Priority" placeholder="Priority">
                        </div>
                        <br>
                    </center>
                </fieldset>
                <button type="button" id="updateItems" class="btn btn-info">Update Items</button>
            </form>
        </div>
    </center>


</body>

</html>