<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <link rel="stylesheet" href="view/style.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
    crossorigin="anonymous">
<style>
    body{
          background: url(backGr.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      }
</style>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">

        <h1>Book Inventory</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <div class="p-2 bg-light rounded rounded-pill shadow-lg lb-7 ">
                    <div class="input-group">

                        <input id="searchNisya" placeholder="Search for a Book?" class="form-control border-0 bg-light">
                        <div class="input-group-append">
                            <button id="btnsearch" type="button" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <li class="nav-item active">
                        <div class="container">
                            <button class="btn btn-outline-info btn-lg" id="viewbtn"
                                type="button">View Books</button><br>
                        </div>
                    </li>
    
                <li class="nav-item active">
                    <div class="container">
                        <button class="btn btn-outline-info btn-lg" id="createbtn" data-toggle="modal" data-target="#myModal"
                            type="button">Add Book</button><br>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>

<br><br><br>

<body>
    <center>
        <div id="book">
            <img src="book.png"style="width: 700px;height: 600px;">
        </div>

        <div id="tableni">
            <br><br>
            </form>
            <div class="container">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <center>
                                <th>Book</th>
                                <th>Author</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </center>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div><br><br><br>
        <img id="notavai" src="notavai.jpeg" alt="">
        <div class="container">
            <div class="modal" id="myModal">
                <div class="modal-dialog ">
                    <div class="modal-content default">
                        <div class="modal-header">
                            <h1>Add Book</h1>

                        </div>
                        <div class="modal-body">
                            <h3>Book name:</h3>
                            <div class="input-group">
                                <input id="item" type="url" class="form-control" name="item" placeholder="Enter Name of Book"
                                    required>
                            </div>
                            <h3>Name of the Author:</h3>
                            <div class="input-group">
                                <input id="Author" type="url" class="form-control" name="Author" placeholder="Author">
                            </div>
                            <h3>Quantity:</h3>
                            <div class="input-group">
                                <input id="Quantity" type="number" class="form-control" name="Quantity" placeholder="Quantity"
                                    required>
                            </div>
                            <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="addItems" class="btn btn-success " data-dismiss="modal">Add
                                Book</button>
                            <button type="button" id="cancelbtn" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container bg-dark updateModals">
            <div class="modal myModal" id="myModalupdate">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1>Update Book</h1>

                        </div>
                        <div class="modal-body">
                            <h3>Book name:</h3>
                            <div class="input-group">
                                <input id="updateitem" type="text" class="form-control" name="item" placeholder="Item"
                                    autofocus>
                            </div>
                            <h3>Name of the Author:</h3>:</h3>
                            <div class="input-group">
                                <input id="updateAuthor" type="text" class="form-control" name="Author" placeholder="Author">
                            </div>
                            <h3>Quantity:</h3>
                            <div class="input-group">
                                <input id="updateQuantity" type="number" class="form-control" name="Quantity"
                                    placeholder="Quantity of books">
                            </div>
                            <br>
                            <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="updateItems" class="btn btn-success" data-dismiss="modal">Update
                                Book</button>
                                <button type="button" id="cancelbtn" class="btn btn-danger" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bg-dark updateModals">
            <div class="modal myModal" id="myModalborrow">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1>Borrow a Book</h1>

                        </div>
                        <div class="modal-body">
                            
                            <h3>Book name:</h3>
                            <input  style="color:white;width: 450px;font-size: 30px;" class="btn btn-primary" id="itemborrowed" disabled>
                            <h3>Number of book/s available:</h3>
                            <input  style="color:white;font-size: 30px;" class="btn btn-primary" id="availableitem" disabled>
                            <h3>Enter borrower name:</h3>:
                            <div class="input-group">
                                <input id="Borrower" type="text" class="form-control" name="Borrower" placeholder="Borrower">
                            </div>
                            <h3 >Quantity:</h3>
                            <div class="input-group">
                                <input id="noofbooks" type="number" class="form-control" name="no."
                                    placeholder="Number of books to be borrow.">
                            </div>
                            <br>
                            <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="BorrowItems" class="btn btn-success" data-dismiss="modal">Borrow
                                Book</button>
                                <button type="button" id="cancelbtn" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </center>


</body>

</html>