body{
    padding: 20px 2%;
  
    font-family: Georgia, 'Times New Roman', Times, serif
}
.subPic{
    width:38%;
    height:350px;
    padding:10px;
    border:solid greenyellow 10px;
    margin-right: 10px;
}
.largeImg{
    width:79%;
    height:500px;
    padding:10px;
    border:solid greenyellow 10px;
    text-align: center;
}
header{
    background-color: white;
    color:black;
}
body{
    background-color: black;
    color:white;
}
h1{
    font-size: 50px;
    
}
h1:hover{
    color: greenyellow;
}

span{
    font-size: 20px;
}



#writeUp{
    border: solid greenyellow 2px;
    text-align: justify;
    margin: 100px;
    padding: 25px;
    text-indent: 2em;
}


button{
    background-color: aquamarine;
    border: none;
    margin: 5px;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
}
button:hover{
    background: greenyellow
}